<WebSquare>
    <wpack use="true">
        <contextRoot value="/"/>
        <srcExtension value="xml"/>
        <destExtension value="js"/>
        <destRoot value="_wpack_"/>
        <babelDestRoot value="_wpackbabel_"/>
        <loadingMode value="wpack"/>
        <!-- wpack에서 공통변수를 자동으로 치환해주는 기능(사용 시 치환할 대상이 되는 변수를 지정해줘야함) -->
		<common name="com" value="true"/>
		<commonPath>
			<path src="/cm/js/commonGlobal.js"/>
			<path src="/cm/js/commonScope.js"/>
			<path src="/cm/js/main.js"/> 
		</commonPath>
    </wpack>
    <allValue value="all"/>
    <docType value="standard"/>
    <debug remoteConsole="false" value="true"/>
    <debugKey value=""/>
    <language value="ko"/>
    <useItemLocale value="false"/>
    <date>
        <serverDate autoupdateinterval="3600" enable="true"/>
    </date>
    <deprecated>
        <sync value=""/>
    </deprecated>
    <exceptionHandler value="websquare"/>
    <debugMenu value="use"/>
    <welcome-file/>
    <postDrawMode value="synchronous"/>
    <forcedValueSetting value="true"/>
    <processMsgHeight value="81"/>
    <processMsgWidth value="295"/>
    <processMsgBackground backgroundColor="#112233" value="true"/>
    <byteCheckEncoding value="euc-kr"/>
    <initScript value="true"><![CDATA[
		console.log("initScript START====");
	]]></initScript>
    <clearMemory value="false"/>
    <stylesheet earlyImportList="/cm/css/base.css" enable="true" import="link" value="stylesheet_ext.css"/>
    <visibleHelper/>
    <style>
        <removeDefaultClass value="true"/>
    </style>
    
    <!-- 엔징 구동 시 초기 로딩시킬 js -->
	<engine>
		<module src="/cm/js/commonGlobal.js"/>
		<module src="/cm/js/commonScope.js"/>
	</engine>
	
    <ModelUtil>
        <copyChildrenNodes refresh="false"/>
    </ModelUtil>
    <preProcessor>
        <systemPreProcessor value=""/>
        <businessPreProcessor value=""/>
    </preProcessor>
    <workflow>
        <processMsg value=""/>
        <makeGlobalObject value="true"/>
    </workflow>
    <submission>
        <processMsg value=""/>
        <showSubmissionTime value="true"/>
        <preSubmitFunction value=""/>
        <callbackSubmitFunction value=""/>
        <requestID value=""/>
        <makeGlobalObject value="true"/>
    </submission>
    <visibleHelper>
        <targetHandler value=""/>
    </visibleHelper>
    <spa>
        <onpageunload value=""/>
        <variable value="scwin"/>
        <scriptCache value="true"/>
        <autoReload count="50" value="true"/>
    </spa>
    <scriptLoading merge="true"/>
    <scriptPrecedence value="true"/>
    <strictMode id="mf" value="true"/>
    <engineCache compression="true" enable="true" postfix="month"/>
    <userAgentPattern XPathParser="Edge|Trident|MSIE"/>
    <preserveWhiteSpace value="false"/>
    
    <!-- xml파일 cache 설정(nocache 일경우 매번 다르게 로딩, cache 일경우 postfix 기준으로 캐싱처리 : 개발시에는 cache 설정으로 할것...)  -->
    <environment cache="cache" mode="production" postfix="day"/>
    <script postfix="environment"/>
    <emptyTag value="area,base,basefont,br,col,frame,hr,img,input,link,meta,param"/>
    <engineLoadingMode android="0" chrome="0" ie="0" iphone="0" moz="0" opera="0" safari="0"/>
    <engineChunkNum value="1">
    </engineChunkNum>
    <dataList>
        <removeDummyRowStatus value="true"/>
        <removedDataMatch value="true"/>
        <saveRemovedDataDeletedInsertedRow value="false"/>
    </dataList>
    <grid>
        <noSelect value="true"/>
        <rowNumStatusUniqueId value="true"/>
        <drilldownRealRowIndexAll value="true"/>
        <collectGarbage value="none"/>
        <fastScroll value="true"/>
        <dataType>
            <date displayFormat="yyyy-MM-dd"/>
        </dataType>
        <editType value="focus"/>
        <rowNumBackgroundColor value="#e5eff7"/>
        <selectedRowColor value="#fcf8e3"/>
        <oddEvenColorDisplay value="true"/>
        <evenRowBackgroundColor value="#f5f5f5"/>
        <oddRowBackgroundColor value="#ffffff"/>
        <rowMouseOver value="true"/>
        <rowMouseOverColor value="#edf3fb"/>
        <tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#5c85d4;color:#fff"/>
        <noResultMessageVisible value="true"/>
        <noResultMessage value="데이터가 없음"/>
        <noResultMessageStyle value="position:absolute; left:40%; width:20%; top:40%; border:1px solid #b3b3b3; color:#383d41; font-size:12px; padding:5px; text-align:center; background:#fafafa"/>
        <pasteMessage value="데이터 붙이는 중"/>
        <getColumnVisible useRealColIndex="true"/>
        <checkDisabledOnPaste value="true"/>
        <checkReadOnlyOnPaste value="true"/>
        <colIdToColIndex value="true"/>
        <column inputType="text">
            <editType value="select"/>
        </column>
        <column inputType="select">
            <chooseOptionLabel value="-선택-"/>
        </column>
        <column inputType="calendar">
            <dataType value="date"/>
            <displayFormat value="yyyy-MM" valueType="yearMonth"/>
            <displayFormat value="yyyy-MM-dd" valueType="yearMonthDate"/>
            <displayFormat value="yyyy-MM-dd HH:mm" valueType="yearMonthDateTime"/>
            <displayFormat value="yyyy-MM-dd HH:mm:SS" valueType="yearMonthDateTimeSec"/>
        </column>
    </grid>
    <gridView>
        <noSelect value="true"/>
        <drilldownFooterExpressionAllData value="true"/>
        <rowNumStatusUniqueId value="true"/>
        <preventMultipleClick value="true"/>
        <drilldownRealRowIndexAll value="true"/>
        <collectGarbage value="none"/>
        <fastScroll value="true"/>
        <dataType>
            <date displayFormat="yyyy-MM-dd"/>
        </dataType>
        <editType value="focus"/>
        <rowNumBackgroundColor value="#e5eff7"/>
        <selectedRowColor value="#fcf8e3"/>
        <oddEvenColorDisplay value="true"/>
        <evenRowBackgroundColor value="#f5f5f5"/>
        <oddRowBackgroundColor value="#ffffff"/>
        <rowMouseOver value="true"/>
        <rowMouseOverColor value="#edf3fb"/>
        <tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#5c85d4;color:#fff"/>
        <noResultMessageVisible value="true"/>
        <noResultMessage value="데이터가 없음"/>
        <noResultMessageStyle value="position:absolute; left:40%; width:20%; top:40%; border:1px solid #b3b3b3; color:#383d41; font-size:12px; padding:5px; text-align:center; background:#fafafa"/>
        <pasteMessage value="데이터 붙이는 중"/>
        <getColumnVisible useRealColIndex="true"/>
        <checkDisabledOnPaste value="true"/>
        <checkReadOnlyOnPaste value="true"/>
        <useDataDragDropGuideLine value="true"/>
        <colIdToColIndex value="true"/>
        <column inputType="text">
            <editType value="select"/>
        </column>
        <column inputType="select">
            <chooseOptionLabel value="-선택-"/>
            <eventPriority value="oneditend"/>
        </column>
        <column inputType="calendar">
            <dataType value="date"/>
            <displayFormat value="yyyy" valueType="year"/>
            <displayFormat value="yyyy-MM" valueType="yearMonth"/>
            <displayFormat value="yyyy-MM-dd" valueType="yearMonthDate"/>
            <displayFormat value="yyyy-MM-dd HH:mm" valueType="yearMonthDateTime"/>
            <displayFormat value="yyyy-MM-dd HH:mm:SS" valueType="yearMonthDateTimeSec"/>
        </column>
    </gridView>
    <inputCalendar>
        <validCheck value="false"/>
        <dataType value="date"/>
        <delimiter value="-"/>
        <mask value="MM-dd-yyyy"/>
        <delimiterLocaleKey value="IC_Delimiter"/>
        <maskLocaleKey value="IC_Mask"/>
        <calendarImage value=""/>
        <calendarImageOver value=""/>
    </inputCalendar>
    <input>
        <focusStyle value=""/>
        <dateMask value="yyyy-MM-dd"/>
        <timeMask value="HH:mm"/>
        <focusCalcSize value="false"/>
    </input>
    <calendar>
        <minYear value="1978"/>
        <maxYear value="2030"/>
    </calendar>
    <selectbox>
        <visibleRowNum value="5"/>
        <dataListAutoRefresh value="true"/>
    </selectbox>
    <tabControl>
    </tabControl>
    <treeview>
        <tooltipGroupClass value="false"/>
    </treeview>
    <trigger>
        <preventMultipleClick value="true"/>
    </trigger>
    <anchor>
        <preventMultipleClick value="true"/>
    </anchor>
    <wframe>
        <mode value="async"/>
        <scope value="true"/>
        <popupAutoClose value="true"/>
	    <initScript value="true"><![CDATA[
			console.log("wframe initScript START====");
		]]></initScript>        
    </wframe>
    <windowContainer>
        <tooltipGroupClass value="false"/>
        <getWindow searchTarget="windowId"/>
        <displayOnlyTopWindow value="true"/>
    </windowContainer>
    <pageList/>
    <radio>
        <nameScope value="true"/>
    </radio>
    <popup>
        <popupCenter value="true"/>
    </popup>
    <body>
        <toolTipSec value="1"/>
    </body>
    <editor>
        <version value="4.11.3"/>
    </editor>
    <fusionchart>
        <version value="3.19"/>
    </fusionchart>
    <languagePack useLanguagePack="false">
        <url lang="ko" value="/langpack/ko.js"/>
        <url lang="en" value="/langpack/en.js"/>
        <url lang="ch" value="/langpack/ch.js"/>
    </languagePack>
    <license value="true"/>
    <requirejs timeout="20"/>
</WebSquare>
